Django
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
django-extensions
django-rest-framework
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
idna
oauthlib
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
simplejwt
social-auth-app-Django
social-auth-core
sqlparse
typing
tzdata
urllib3
